body {
  box-sizing: border-box; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

form {
  border: 1px solid #333333;
  width: 600px; 
  height: 400px; 
  position: relative; 
  top: -100px; 
  padding: 30px; 
  border-radius: 7px;

  display: grid; 
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(1, 30px 20px) 30px; 
  column-gap: 10px; 
}

label {
  align-self: center;
}

label[for="email"] {
  grid-column: 1;
  grid-row: 1; 
}

input {
  appearance: none; 
  border: 1px solid #333333; 
  margin: 0; 
  width: 100%; 

  font-family: inherit; 
  font-size: 90%; 

  border-radius: 5px;
  padding-left: 5px; 
}

input.invalid {
  border-color: #990000; 
  background-color: #ffdddd;
}

input:focus:invalid {
  outline: none; 
}

input#email {
  grid-column: 2 / 4;
  grid-row: 1; 
}

.email-error {
  padding: 0; 
  color: #990000; 
  font-size: 80%; 
  grid-column: 2 / 4; 
  grid-row: 2; 
}

.email-error.active {
  padding: 0.3em; 
}

.high-five {
  grid-column: 1 / 3;
  grid-row: -2; 
}

button[type="submit"] {
  appearance: none;
  background-color: transparent;
  color: rgb(0, 94, 255);
  border: 1px solid rgb(0, 94, 255); 
  border-radius: 5px;
  grid-column: 3;
  grid-row: -2; 
  width: 70px; 
  height: 30px; 
  justify-self: right; 
}

button[type="submit"]:hover {
  background-color: rgb(176, 176, 176);
}